.announcement {
    border: 16px;
    background: rgb(230, 173, 211);
    padding: 20px;
}

button {
    content: "X";
    width: fit-content;
    border: 0px;
    position: absolute;
}

.clicked {
    content: "Show announcement";
}

.hidden {
    display: none;
}